.App {
  position: relative;
  min-height: 100vh;
}

* {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 105%;
  line-break: anywhere;
}

h1 {
  margin: 1em 0;
}

form {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(100, 100, 100, 0.99);
  border: 1px solid black;
  padding: 3em;
  margin-bottom: 3em;
}

input {
  margin: 0.2em 1em;
  /* width: 10vw; */
  /* width: 40%; */
}

label {
  display: flex;
  /* width: 15vw; */
}

/* home */

.home {
  max-width: 600px;
  margin: auto;
}

hr {
  margin: 1em 0;
}

.post {
  padding-bottom: 1em;
  border-bottom: 1px solid black;
  margin-bottom: 5em;
}
.post a {
  font-size: 150%;
}

.post .screenshot {
  width: 100%;
}

.post pre {
  margin: 0;
  font-size: 140%;
}

.semi-trans-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.2);
}

h2 {
  margin-bottom: 1em;
}

input[name="url"] {
  width: 800px;
  max-width: 60vw;
}

.side-by-side {
  display: flex;
  margin-bottom: 1em;
}

.side-by-side > * {
  margin: 0.5em;
}

.side-by-side img {
  max-width: 400px;
}

input[type="submit"] {
  width: 100%;
  height: 2em;
}

textarea {
  width: 100%;
}