body {
  background: silver;
  background-size: 30%;
}

* {
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 105%;
  line-break: auto;
  box-sizing: border-box;
}

h1 {
  margin: 1em 0;
  line-break: anywhere;
}

form {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background-color: rgba(100, 100, 100, 0.99);
  border: 1px solid black;
  padding: 1em;
  padding-bottom: 3em;
  width: 800px;
  max-width: 90vw;
}

input {
  width: 100%;
  /* margin: 0; */
  /* width: 10vw; */
  /* width: 40%; */
}

label {
  display: flex;
  /* width: 15vw; */
}

/* home */

.home {
  background-color: white;
  max-width: 600px;
  padding: 0.5em;
  margin: auto;
}

.home.creating-post {
  filter: blur(4px);
}

.home header {
  margin-bottom: 1em;
}

hr {
  margin: 1em 0;
}

.post {
  padding: 0;
  /* border-bottom: 1px solid black; */
  border-top: 4px double black;
  /* border: 1px solid black; */
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.post:first-of-type {
  border-top: 1px solid black;
}
.post a {
  font-size: 110%;
  /* max-width:200px; */
  line-break: anywhere;
  /* display: block; */
  word-break: break-all;
  /* overflow:hidden; */
  /* width:100px; */
  /* display: block; */
  /* color: yellow; */
  line-break: anywhere;
  padding: 0;
  margin-bottom: 8px;
  font-family: monospace;
}


.post img.screenshot {
  width: 100%;
}

.post pre {
  margin: 0;
  font-size: 140%;
  display: block;
  /* white-space: break-spaces; */



  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.semi-trans-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.2);
}

h2 {
  margin-bottom: 1em;
}
.side-by-side {
  display: flex;
  margin-bottom: 1em;
}

.side-by-side > * {
  margin: 0.5em;
}

.message-submit img {
  width: 100%;
  /* max-width: 400px; */
}

input[type="submit"] {
  width: 100%;
  height: 2em;
}

textarea {
  width: 100%;
  min-height: 5em;
}